{% extends "/geracao/geracao.html" %}

{% block selected %}edit{% endblock %}

{% block task %}
    <form action="/geracao/edit" method="post">
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Gerador:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <select name="gerador_id" class="form-control mx-auto w-auto" value="{{ geracao['gerador_id'] }}" >
                        <option disable selected>Gerador</option>
                        {% for gerador in geradores %}
                            {% if gerador['id'] == geracao['gerador_id'] %}
                                <option selected value="{{gerador['id']}}" >{{ gerador["name"] }}</option>
                            {% else %}
                                <option value="{{gerador['id']}}" >{{ gerador["name"] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Efetiva:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input type="number" class="form-control" name="efetiva" placeholder="Efetiva" value="{{ geracao['efetiva'] }}" >
                    <span class="input-group-text">kWh</span>
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Reativa:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input type="number" class="form-control" name="reativa" placeholder="Reativa" value="{{ geracao['reativa'] }}" >
                    <span class="input-group-text">kWh</span>
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Consumo:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <span class="input-group-text">R$</span>
                    <input type="number" class="form-control" name="consumo" placeholder="Consumo" value="{{ geracao['consumo'] }}" >
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Consumo:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input class="form-control" id="data_uso" name="data_uso" type="date" value="{{ geracao['data_uso'] }}" >
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Atualizar</button>
    </form>
{% endblock %}