{% extends "/geracao/geracao.html" %}

{% block selected %}list{% endblock %}

{% block task %}
    <div class="container">
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th>Gerador</th>
                        <th>Data do uso</th>
                        <th>Efetiva</th>
                        <th>Reativa</th>
                        <th>Consumo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for geracao in geracoes %}<tr>
                        <td>{{ geracao["gerador"] }}</td>
                        <td>{{ geracao["data_uso"] }}</td>
                        <td>{{ geracao["efetiva"] }}</td>
                        <td>{{ geracao["reativa"] }}</td>
                        <td>{{ geracao["consumo"] }}</td>
                        <td>
                            <button>
                                <a href={{ "/geracao/edit/"+ geracao["id"]|string }}>EDIT</a>
                            </button>
                        </td>
                        <td>
                            <button>
                                <a href={{ "/geracao/delete/"+ geracao["id"]|string }}>DEL</a>
                            </button>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}