{% extends "/despesa/despesa.html" %}

{% block selected %}add{% endblock %}

{% block task %}
    <form action="/despesa/add" method="post">
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Valor:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <span class="input-group-text">R$</span>
                    <input type="number" class="form-control" name="valor" placeholder="Valor" >
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Demanda:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input type="number" class="form-control" name="demanda" placeholder="Demanda" >
                    <span class="input-group-text">kWh</span>
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Efetiva:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input type="number" class="form-control" name="efetiva" placeholder="Efetiva" >
                    <span class="input-group-text">kWh</span>
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Reativa:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input type="number" class="form-control" name="reativa" placeholder="Reativa" >
                    <span class="input-group-text">kWh</span>
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Multa:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <span class="input-group-text">R$</span>
                    <input type="number" class="form-control" name="multa" placeholder="Multa" value="0.00">
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Data fatura:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input class="form-control mx-auto w-auto" id="data_fatura" name="data_fatura" type="date">
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Adicionar</button>
    </form>

    <script type="text/javascript">
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;
        document.getElementById('data_fatura').value = today;
    </script>
{% endblock %}