{% extends "/despesa/despesa.html" %}

{% block selected %}edit{% endblock %}

{% block task %}
    <form action="/despesa/edit" method="post">
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Valor:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <span class="input-group-text">R$</span>
                    <input type="number" class="form-control" name="valor" placeholder="Valor" value="{{despesa['valor']}}" >
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Demanda:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input type="number" class="form-control" name="demanda" placeholder="Demanda" value="{{despesa['demanda']}}" >
                    <span class="input-group-text">kWh</span>
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Efetiva:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input type="number" class="form-control" name="efetiva" placeholder="Efetiva" value="{{despesa['efetiva']}}" >
                    <span class="input-group-text">kWh</span>
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Reativa:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input type="number" class="form-control" name="reativa" placeholder="Reativa" value="{{despesa['reativa']}}" >
                    <span class="input-group-text">kWh</span>
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Multa:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <span class="input-group-text">R$</span>
                    <input type="number" class="form-control" name="multa" placeholder="Multa" value="{{despesa['multa']}}">
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Data fatura:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input class="form-control mx-auto w-auto" id="data_fatura" name="data_fatura" type="date" value="{{despesa['data_fatura']}}">
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Atualizar</button>
    </form>
{% endblock %}