/* dark theme */
/* font */
/* width */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  background-color: #0c5149;
}

/* forms style */
.conditional-fields h2 {
  color: white;
  text-align: center;
}

.field-container {
  display: flex;
  justify-content: center;
  height: 40px;
  font-size: 18px;
  margin: 10px 0;
  color: white;
}
.field-container .field-name {
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.field-container .field-input {
  height: 100%;
  display: flex;
}
.field-container .field-input span {
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: gray;
  border: 1px solid gray;
}
.field-container .field-input span.before {
  border-radius: 10px 0 0 10px;
}
.field-container .field-input span.after {
  border-radius: 0 10px 10px 0;
}
.field-container .field-input input {
  font-size: 16px;
  height: 100%;
  padding: 0 10px;
  outline: none;
  border: 1px solid gray;
  line-height: 1.8;
}
.field-container .field-input input:focus {
  outline: solid 3px rgba(115, 111, 255, 0.4470588235);
}
.field-container .field-input input.before {
  border-radius: 10px 0 0 10px;
}
.field-container .field-input input.after {
  border-radius: 0 10px 10px 0;
}
.field-container .field-input input.only {
  border-radius: 10px;
}
.field-container .field-input .checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 25px;
}
.field-container .field-input .checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.field-container .field-input .checkbox-container input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.field-container .field-input .checkbox-container input[type=checkbox]:checked ~ .checkmark {
  background-color: #2196F3;
}
.field-container .field-input .checkbox-container input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}
.field-container .field-input .checkbox-container .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #eee;
}
.field-container .field-input .checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.field-container .field-input select {
  height: 100%;
  line-height: 1.8;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 16px;
}
.field-container .field-input select:focus {
  outline: solid 3px rgba(115, 111, 255, 0.4470588235);
}
.field-container .field-input select option {
  padding: 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button, input[type=submit] {
  margin: 10px auto;
  background-color: #0d6efd;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 7px 10px;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
button:hover, input[type=submit]:hover {
  background-color: #0b5ed7;
  transform: scale(1.1);
}

/* scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #0c5149;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00283d;
  border-radius: 10px;
}

/* dark theme */
/* font */
/* width */

/* dark theme */
/* font */
/* width */
.sidebar {
  background: #00283d;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.sidebar.close {
  left: -225px;
}
.sidebar .quartel {
  margin-bottom: 20px;
  text-align: center;
}
.sidebar .quartel img {
  display: block;
  width: 100px;
  height: auto;
  margin: 0 auto;
}
.sidebar .quartel h2 {
  color: #fcfcfc;
  margin: 10px 0 10px;
}
.sidebar .quartel p {
  color: #fcfcfc;
  font-size: 14px;
}
.sidebar ul.nav li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: #fcfcfc;
  font-size: 16px;
  position: relative;
}
.sidebar ul.nav li a:hover, .sidebar ul.nav li a.active {
  color: #0c7db1;
  background-color: white;
  border-right: 2px solid rgb(5, 68, 104);
}
.sidebar ul.nav li a:hover .icon, .sidebar ul.nav li a.active .icon {
  color: #0c7db1;
}
.sidebar ul.nav li a:hover:before, .sidebar ul.nav li a.active:before {
  display: block;
}
.sidebar ul.nav li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}
.sidebar .hide {
  display: flex;
  position: absolute;
  top: calc(50% - 25px);
  left: 225px;
  width: 25px;
  height: 70px;
  background-color: #00283d;
  align-items: center;
  justify-content: center;
  border-radius: 0 25px 25px 0;
  z-index: -1;
}
.sidebar .hide a {
  font-size: 28px;
  color: #f4fbff;
}
.sidebar .hide a:hover {
  color: #10cdfc;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  height: 75px;
  background-color: #003551;
  width: calc(100% - 225px);
  transition: all 0.5s ease;
  padding: 0 30px;
  z-index: 10000;
}
.header.full {
  width: 100%;
}
.header .bar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .bar .logo {
  width: 200px;
}
.header .bar .logo img {
  width: 100%;
}
.header .bar .page-name li a {
  display: block;
  color: #fcfcfc;
  font-size: 25px;
  position: relative;
}
.header .bar .page-name li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}
.header .abas {
  height: 30px;
  display: block;
  position: relative;
  bottom: 0;
}
.header .abas ul {
  height: 100%;
  display: flex;
}
.header .abas ul li {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  margin: 0 20px;
  background-color: #00283d;
  border-radius: 0 0 25px 25px;
}
.header .abas ul li.select {
  background-color: #003551;
}
.header .abas ul li a {
  font-weight: bold;
  color: #dee4ec;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown button.dropbtn {
  background-color: #00283d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown button.dropbtn .item {
  margin-right: 10px;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown .dropdown-content:hover {
  display: block;
}
.dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown .dropdown-content a:hover {
  background-color: #ddd;
}

.table-container {
  background-color: #0a8967;
  border-radius: 20px;
  height: 100%;
  padding: 10px 20px;
  color: white;
  width: 100%;
}
.table-container table {
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.table-container table th, .table-container table td {
  padding: 5px 10px;
  vertical-align: middle;
  text-align: center;
}
.table-container table tbody {
  border-radius: 20px;
  display: block;
  height: calc(100% - 30px);
  overflow-y: scroll;
}
.table-container table thead, .table-container table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table-container table tbody tr:nth-of-type(odd) {
  background-color: rgba(179, 208, 255, 0.3);
}
.table-container table button {
  font-size: 12px;
}

/* Experimental for multiple parents */
.diagram-container {
  background-color: #0a8967;
  border-radius: 20px;
  height: 100%;
  padding: 10px 20px;
  color: white;
  width: 100%;
  text-align: center;
  z-index: 1000;
  overflow-y: scroll;
}
.diagram-container .items {
  /* Make all children "inline" */
}
.diagram-container .items ul {
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  /* Add down connector from parent */
}
.diagram-container .items ul li {
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  /* Add horizontal connector. Note: they are 2 pseudo-elements */
  /* Add back the down connector for last node */
  /* Remove left and right connector from a single child */
  /* Remove "outer" connector */
  /* Add curve line to the first child's connector */
  /* Add margin for the parents */
  /* Add cosmetic for each item */
}
.diagram-container .items ul li::before, .diagram-container .items ul li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 45px;
  z-index: -1;
  border-top: 5px solid black;
}
.diagram-container .items ul li::after {
  border-left: 5px solid black;
  left: 50%;
  right: auto;
}
.diagram-container .items ul li:last-child::before {
  border-right: 5px solid black;
  border-radius: 0 5px 0 0;
}
.diagram-container .items ul li > a:not(:only-child)::after {
  content: "";
  position: absolute;
  border-right: 5px solid black;
  top: 20px;
  height: 50px;
  width: 0;
  left: 50%;
  z-index: -1;
}
.diagram-container .items ul li:only-child::after, .diagram-container .items ul li:only-child::before {
  display: none;
}
.diagram-container .items ul li:only-child {
  padding-top: 0;
}
.diagram-container .items ul li:first-child::before, .diagram-container .items ul li:last-child::after {
  border: 0 none;
}
.diagram-container .items ul li:first-child::after {
  border-radius: 5px 0 0 0;
}
.diagram-container .items ul li a + a {
  position: relative;
  margin-bottom: 12px;
}
.diagram-container .items ul li > a:last-of-type:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 40px;
  right: auto;
  width: 42%;
  border-top: 1px solid indigo;
}
.diagram-container .items ul li > a:not(:only-of-type):not(:last-of-type)::before {
  content: "";
  position: absolute;
  top: 40px;
  left: auto;
  width: 110%;
  border-top: 1px solid indigo;
}
.diagram-container .items ul li > a:last-of-type:last-child::before {
  left: 50%;
}
.diagram-container .items ul li > a:first-of-type:first-child::before {
  left: 50%;
}
.diagram-container .items ul li a {
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  z-index: 10;
  /* Implement also for the first parent */
}
.diagram-container .items ul li a:hover {
  background-color: #EEE;
}
.diagram-container .items ul li a a:first-child {
  position: relative;
  margin-bottom: 12px;
}
.diagram-container .items ul li a img, .diagram-container .items ul li a span {
  display: block;
}
.diagram-container .items ul li a img {
  margin: 0 auto;
  width: 70px;
  height: auto;
}
.diagram-container .items ul ul::before {
  content: "";
  border-left: 5px solid black;
  z-index: -1;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 50%;
  width: 0;
}

/* dark theme */
/* font */
/* width */
.apology {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

main.page {
  z-index: 1;
  position: absolute;
  top: 115px;
  height: calc(100% - 125px);
  right: 20px;
  width: calc(100% - 225px - 25px - 40px);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.page.full {
  width: calc(100% - 25px);
}
main.page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.page h1 {
  color: white;
}

.page-login .header {
  width: 100%;
}
.page-login .header .bar {
  justify-content: center;
}
.page-login .forms {
  position: absolute;
  top: 40%;
  width: 100%;
}

.brasao img {
  width: 200px;
}

.perfil-quartel {
  width: 100%;
  displa: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  border-radius: 20px;
}
.perfil-quartel > * {
  width: 100%;
  padding: 10px 10px;
  background-color: #0a8967;
  border-radius: 20px;
}
.perfil-quartel .infos-personal {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.perfil-quartel .infos-personal .logo {
  width: 150px;
  margin-right: 30px;
}
.perfil-quartel .infos-personal .logo img {
  width: 100%;
}
.perfil-quartel .infos-personal .dados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.perfil-quartel .infos-personal .dados h1 {
  font-size: 40px;
}
.perfil-quartel .infos-geral {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}
.perfil-quartel .infos-geral .col {
  width: 30%;
  padding: 10px 10px;
  background-color: #09c184;
  border-radius: 20px;
}
.perfil-quartel .infos-geral .col h2 {
  text-align: center;
}
.perfil-quartel .infos-geral .col .row {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
.perfil-quartel .infos-geral .col .row .title {
  font-weight: bold;
}
.perfil-quartel .infos-geral .col .row .dado {
  margin-left: 30px;
}
