{% extends "/gerador/gerador.html" %}

{% block selected %}add{% endblock %}

{% block task %}
    <form action="/gerador/add" method="post">
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Name:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input autocomplete="off" autofocus type="text" class="form-control" name="name" placeholder="Name" >
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Tipo:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input autocomplete="off" autofocus type="text" class="form-control" name="tipo" placeholder="Tipo" >
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Adicionar</button>
    </form>
{% endblock %}