{% extends "/gerador/gerador.html" %}

{% block selected %}add{% endblock %}

{% block task %}
    <form action="/gerador/add" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="name" placeholder="Name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="tipo" placeholder="Tipo" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Adicionar</button>
    </form>
{% endblock %}