{% extends "/gerador/gerador.html" %}

{% block selected %}list{% endblock %}

{% block task %}
    <div class="container">
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tipo</th>
                        
                        {% if session["main"]["access_level"] < 4 %}
                            <th></th>
                            <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for gerador in geradores %}
                    <tr>
                        <td>{{ gerador["name"] }}</td>
                        <td>{{ gerador["tipo"] }}</td>
                        {% if session["main"]["access_level"] < 4 %}
                            <td>
                                <button>
                                    <a href={{ "/gerador/edit/"+ gerador["id"]|string }}>EDIT</a>
                                </button>
                            </td>
                            <td>
                                <button>
                                    <a href={{ "/gerador/delete/"+ gerador["id"]|string }}>DEL</a>
                                </button>
                            </td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}