{% extends "/quartel/quartel.html" %}

{% block selected %}add{% endblock %}

{% block task %}
    <form action="/quartel/add" method="post">
        <div class="row g-3 align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Name:</label>
            </div>
            <div class="col-auto">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="Name" type="text">
            </div>
        </div>
        <div class="row g-3 align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Sigla:</label>
            </div>
            <div class="col-auto">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="sigla" placeholder="Sigla" type="text">
            </div>
        </div>
        <div class="row g-3 align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Efetivo:</label>
            </div>
            <div class="col-auto">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="efetivo" placeholder="Efetivo" type="number">
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Area:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input type="number" class="form-control" name="area" placeholder="Area" >
                    <span class="input-group-text">m<sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Demanda Contratada:</label>
            </div>
            <div class="col-auto">
                <div class="input-group mx-auto w-auto">
                    <input type="number" class="form-control" name="demanda_contratada" placeholder="Demanda Contratada" >
                    <span class="input-group-text">kWh</span>
                </div>
            </div>
        </div>
        <div class="row g-3 align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Grupo Tarifario:</label>
            </div>
            <div class="col-auto">
                <select name="grupo_tarifario" class="form-control mx-auto w-auto" >
                    <option disable selected>Grupo</option>
                    <option value="A" >A</option>
                    <option value="B" >B</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Adicionar</button>
    </form>
{% endblock %}