{% extends "layout.html" %}

{% block title %}
    Geração
{% endblock %}

{% block mother %}geracao{% endblock %}

{% block main %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link" id="add" aria-current="page" href="/geracao/add">Adicionar</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" id="edit" href="/geracao/edit">Editar</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="list" href="/geracao/list">Listar</a>
        </li>
    </ul>
    
    <div id="suboption" style="display: none;">{% block selected %}{% endblock %}</div>

    <script type="text/javascript">
        let subotion = document.getElementById("suboption").innerHTML
        document.getElementById(subotion).classList.add("active")
    </script>

    {% block task %}{% endblock %}
{% endblock %}