{% extends "layout.html" %}

{% block main %}
    <div class="page-login">
        <div class="header">
            <div class="bar">
                <div class="logo">
                    <img src="{{url_for('static', filename='images/luxium.png')}}" alt="logo">
                </div>
            </div>
        </div>
        <div class="forms">
            <form action="/login" method="post">
                <div class="field-container">
                    <div class="field-name">
                        <label for="fieldName">Username:</label>
                    </div>
                    <div class="field-input">
                        <input autocomplete="off" autofocus name="username" class="only" placeholder="Username" type="text">
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-name">
                        <label for="fieldName">Password:</label>
                    </div>
                    <div class="field-input">
                        <input autocomplete="off" autofocus name="password" class="only" placeholder="Password" type="password">
                    </div>
                </div>
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
{% endblock %}