{% extends "layout.html" %}

{% block main %}
<div id="page-login">
    <div class="login-logo">
        <div></div>    
        <img src="../../static/images/logofull.png" alt="logo" width="500">
        <div></div>
    </div>
    <!-- <div class="header">
        <div class="bar">
            <div class="logo">
                <img src="{{url_for('static', filename='images/luxium.png')}}" alt="logo">
            </div>
        </div>
    </div> -->
    <div class="forms">
        <div></div>
        <form id="card-login" action="/login" method="post">
            <!-- <img src="../../static/images/login-securityimage.png" alt="security-image" width="200px"/> -->
            <h1 style="color: whitesmoke;font-family: Georgia, 'Times New Roman', Times, serif;padding-bottom: 20px;">Fazer Login</h1>
            <div class="field-container">
                <div class="field-name">
                    <label for="fieldName">Usuário:</label>
                </div>
                <div class="field-input">
                    <input autocomplete="off" autofocus name="username" class="only" placeholder="Usuário" type="text">
                </div>
            </div>
            <div class="field-container">
                <div class="field-name">
                    <label for="fieldName">Senha:</label>
                </div>
                <div class="field-input">
                    <input autocomplete="off" autofocus name="password" class="only" placeholder="Senha" type="password">
                </div>
            </div>
            <button type="submit">Entrar</button>
        </form>
        <div></div>
    </div>
</div>
{% endblock %}