{% extends "index.html" %}

{% set g = {
    "page":"Perfil do Quartel",
    "extra":True,
    "abas":{
        "perfil":{
            "title":"Perfil",
            "id":"perfil",
            "action":"/quartel_profile/perfil"
        },
        "edit":{
            "title":"Editar dados",
            "id":"edit",
            "action":"/quartel_profile/edit"
        },
        "brasao":{
            "title":"Alterar Brasão",
            "id":"brasao",
            "action":"/quartel_profile/brasao"
        },
    },
    "selected_aba":aba
} %}

{% if session.main.access_level > 1 %}
    {% set _ = g.abas.pop("edit") %}
    {% set _ = g.abas.pop("brasao") %}
{% endif %}

{% block page %}

    {% if aba == "edit" %}
       {{ edit(infos, demandas) }}
    {% elif aba == "brasao" %}
        {{ brasao() }}
    {% elif aba == "perfil" %}
        {{ perfil(infos) }}
    {% endif %}


{% endblock %}

{% macro edit(infos, demandas) %}
    <form action="/quartel_profile/edit" method="post">
        <div class="field-container">
            <div class="field-name">
                <label for="fieldName">Efetivo:</label>
            </div>
            <div class="field-input">
                <input autocomplete="off" autofocus class="only" name="efetivo" placeholder="Efetivo" type="number" value={{ infos.efetivo }}>
            </div>
        </div>
        <div class="field-container">
            <div class="field-name">
                <label for="fieldName">Area:</label>
            </div>
            <div class="field-input">
                <input type="number" class="before" name="area" placeholder="Area" value={{ infos.area }}>
                <span class="after">m<sup>2</sup></span>
            </div>
        </div>
        <div class="field-container">
            <div class="field-name">
                <label for="fieldName">Tolerância ultrapassagem de demanda:</label>
            </div>
            <div class="field-input">
                <input type="number" class="before" name="tolerancia_ultrapassagem_demanda" placeholder="Tolerância" value={{ infos.tolerancia_ultrapassagem_demanda }}>
                <span class="after">%</span>
            </div>
        </div>
        <div class="field-container">
            <div class="field-name">
                <label for="fieldName">Concessionária:</label>
            </div>
            <div class="field-input">
                <select name="concessionaria_id" class="only" >
                    <option disable >Concessionária</option>
                    {% for cons in concessionarias %}
                        <option value="{{cons.id}}" 
                        {% if cons.id == infos.concessionaria_id %}
                            selected
                        {% endif %}
                        >{{cons.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="field-container">
            <div class="field-name">
                <label for="fieldName">Grupo Tarifario:</label>
            </div>
            <div class="field-input">
                <select name="grupo_tarifario" id="grupo_tarifario" class="only" onChange="changeGrupoTarifa()">
                    <option disable selected>Grupo</option>
                    {% for grupo in GRUPOS_TARIFARIOS %}
                        <option value="{{grupo}}" 
                        {% if grupo == infos.grupo_tarifario %}
                            selected
                        {% endif %}>{{grupo}}</option>
                    {% endfor %}
                </select>
            </div>
            <script type="text/javascript">                
                function changeGrupoTarifa(){
                    var field_modalidade1 = document.getElementById("modalidade1")
                    var option = document.getElementById("grupo_tarifario").value

                    changeModalidade()

                    if(option == "A"){
                        field_modalidade1.style.display = "flex"
                    }else{
                        field_modalidade1.style.display = "none"
                        document.getElementById("verde").style.display = "none"
                        document.getElementById("azul").style.display = "none"
                    }

                    var selectSubgrupo = document.getElementById("subgrupo")
                    for(let i = selectSubgrupo.options.length; i >= 1; i--){
                        selectSubgrupo.remove(i);
                    }
        
                    var subgrupos = {{ GRUPOS_TARIFARIOS|tojson  }}[option].SUBGRUPO
                    var size = Object.keys(subgrupos).length

                    for(let i = 1; i <= size; i++){
                        let newOption = new Option(subgrupos[i], i)
                        selectSubgrupo.add(newOption, undefined)
                    }
                }
            </script>
        </div>
        <div class="field-container" id="modalidade1" 
        {% if infos.grupo_tarifario == "B" %}
            style="display: none"
        {% endif %}>
            <div class="field-name">
                <label for="fieldName">Modalidade:</label>
            </div>
            <div class="field-input">
                <select name="modalidade" id="modalidade" class="only" onChange="changeModalidade()">
                    <option disable selected>Modalidade</option>
                    {% for mod in GRUPOS_TARIFARIOS.A.MODALIDADE_CONTRATADA %}
                        <option value="{{mod}}" 
                    {% if mod == infos.modalidade %}
                        selected
                    {% endif %}>{{mod}}</option>
                    {% endfor %}
                </select>
            </div>
            <script type="text/javascript">
                
                function changeModalidade(){
                    var option = document.getElementById("modalidade").value

                    if(option == "Azul"){
                        document.getElementById("azul").style.display = "block"
                        document.getElementById("verde").style.display = "none"
                    }else if(option == "Verde"){
                        document.getElementById("verde").style.display = "block"
                        document.getElementById("azul").style.display = "none"
                    }else{
                        document.getElementById("verde").style.display = "none"
                        document.getElementById("azul").style.display = "none"
                    }
          
                }
            </script>
        </div>

        <div class="conditional-fields" id="azul" style="display: none">
            <h2>Demanda contratada</h2>
            <div class="field-container">
                <div class="field-name">
                    <label for="fieldName">Úmida Ponta:</label>
                </div>
                <div class="field-input">
                    <input autocomplete="off" autofocus class="only" name="umida_ponta" placeholder="Úmida Ponta" type="number" value={{ demandas.umida_ponta }}>
                </div>
            </div>
            <div class="field-container">
                <div class="field-name">
                    <label for="fieldName">Úmida Fora Ponta:</label>
                </div>
                <div class="field-input">
                    <input autocomplete="off" autofocus class="only" name="umida_fora_ponta" placeholder="Úmida Fora Ponta" type="number" value={{ demandas.umida_fora_ponta }}>
                </div>
            </div>
            <div class="field-container">
                <div class="field-name">
                    <label for="fieldName">Seca Ponta:</label>
                </div>
                <div class="field-input">
                    <input autocomplete="off" autofocus class="only" name="seca_ponta" placeholder="Seca Ponta" type="number" value={{ demandas.seca_ponta }}>
                </div>
            </div>
            <div class="field-container">
                <div class="field-name">
                    <label for="fieldName">Seca Fora Ponta:</label>
                </div>
                <div class="field-input">
                    <input autocomplete="off" autofocus class="only" name="seca_fora_ponta" placeholder="Seca Fora Ponta" type="number" value={{ demandas.seca_fora_ponta }}>
                </div>
            </div>
        </div>

        <div class="conditional-fields" id="verde" style="display: none">
            <h2>Demanda contratada</h2>
            <div class="field-container">
                <div class="field-name">
                    <label for="fieldName">Úmida:</label>
                </div>
                <div class="field-input">
                    <input autocomplete="off" autofocus class="only" name="umida" placeholder="Úmida" type="number" value={{ demandas.umida }}>
                </div>
            </div>
            <div class="field-container">
                <div class="field-name">
                    <label for="fieldName">Seca:</label>
                </div>
                <div class="field-input">
                    <input autocomplete="off" autofocus class="only" name="seca" placeholder="Seca" type="number" value={{ demandas.seca }}>
                </div>
            </div>
        </div>

        <div class="field-container">
            <div class="field-name">
                <label for="fieldName">Subgrupo:</label>
            </div>
            <div class="field-input">
                <select name="subgrupo" id="subgrupo" class="only" >
                    <option disable selected>Subgrupo</option>
                    {% for mod in GRUPOS_TARIFARIOS[infos.grupo_tarifario].SUBGRUPO %}
                        <option value="{{mod}}" 
                        {% if mod == infos.subgrupo %}
                            selected
                        {% endif %}>{{GRUPOS_TARIFARIOS[infos.grupo_tarifario].SUBGRUPO[mod]}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        

        <div class="field-container">
            <div class="field-input">
                <label class="checkbox-container">
                    <input type="checkbox" class="only" name="tem_subordinado" id="tem_subordinado" placeholder="Area"
                    {% if infos.tem_subordinado %} 
                        checked
                    {% endif %}>
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="field-name">
                <label for="fieldName">Tem OMs subordinadas</label>
            </div>
        </div>
        <div class="field-container">
            <div class="field-input">
                <label class="checkbox-container">
                    <input type="checkbox" class="only" name="tem_geracao_distribuida" id="tem_geracao_distribuida" placeholder="Area"
                    {% if infos.tem_geracao_distribuida %} 
                        checked
                    {% endif %}>
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="field-name">
                <label for="fieldName">Tem geração distribuida</label>
            </div>
        </div>
        <button type="submit">Atualizar</button>
        <script type="text/javascript">
            changeModalidade()
        </script>
    </form>
{% endmacro %}

{% macro brasao() %}
    <div class="brasao">
        {% if session["quartel"]["brasao"] == "" %}
            <img src={{url_for('static', filename='images/placeholder_brasao.png')}} alt="">
        {% else %}
            <img src={{url_for('static', filename="images/brasoes/"+session['quartel']['brasao'])}} alt=""> 
        {% endif %}
    </div>
    <form action="/quartel_profile/brasao" method="post" enctype=multipart/form-data>
        <div class="field-container">
            <div class="field-name">
                <label for="fieldName">Upload image:</label>
            </div>
            <div class="field-input">
                <input type=file name=file>
            </div>
        </div>
        
        <button type="submit">Upload</button>
    </form>
{% endmacro %}


{% macro perfil(infos) %}
<div class="perfil-quartel">
    <div class="infos-personal">
        <div class="logo">
            {% if session["quartel"]["brasao"] == "" %}
                <img src={{url_for('static', filename='images/placeholder_brasao.png')}} alt="">
            {% else %}
                <img src={{url_for('static', filename="images/brasoes/"+session['quartel']['brasao'])}} alt=""> 
            {% endif %}
        </div>
        <div class="dados">
            <h1>{{ session.quartel.name }}</h1>
            <h2>{{ session.quartel.sigla }}</h2>
        </div>
    </div>
    <div class="infos-geral">
        <div class="col">
            <h2>Internas</h2>
            <div class="row">
                <span class="title">Efetivo:</span>
                <span class="dado">{{ infos.efetivo }}</span>
            </div>
            <div class="row">
                <span class="title">Area:</span>
                <span class="dado">{{ infos.area | m2 }}</span>
            </div>
            <div class="row">
                <span class="title">Subordinados?</span>
                <span class="dado">{{ infos.tem_subordinado | sn }}</span>
            </div>
            <div class="row">
                <span class="title">Geração distribuida?</span>
                <span class="dado">{{ infos.tem_geracao_distribuida | sn }}</span>
            </div>
        </div>
        <div class="col">
            <h2>Contrato</h2>
            <div class="row">
                <span class="title">Concessionária:</span>
                <span class="dado">{{ infos.concessionaria_id }}</span>
            </div>
            <div class="row">
                <span class="title">Grupo Tarifario:</span>
                <span class="dado">{{ infos.grupo_tarifario }}</span>
            </div>
            {% if infos.modalidade %}
            <div class="row">
                <span class="title">Modalidade:</span>
                <span class="dado">{{ infos.modalidade }}</span>
            </div>
            {% endif %}
            <div class="row">
                <span class="title">Subgrupo:</span>
                <span class="dado">{{ infos.subgrupo }}</span>
            </div>
            
        </div>
        <div class="col">
            {% if infos.grupo_tarifario == "A" %}
                <h2>Demandas Contratadas</h2>
                {% if infos.modalidade == "Azul" %}
                    <div class="row">
                        <span class="title">Úmida Ponta:</span>
                        <span class="dado">{{ demandas.umida_ponta | kwh }}</span>
                    </div>
                    <div class="row">
                        <span class="title">Úmida Fora Ponta:</span>
                        <span class="dado">{{ demandas.umida_fora_ponta | kwh }}</span>
                    </div>
                    <div class="row">
                        <span class="title">Seca Ponta:</span>
                        <span class="dado">{{ demandas.seca_ponta | kwh }}</span>
                    </div>
                    <div class="row">
                        <span class="title">Seca Fora Ponta:</span>
                        <span class="dado">{{ demandas.seca_fora_ponta | kwh }}</span>
                    </div>
                {% endif %}
                {% if infos.modalidade == "Verde" %}
                    <div class="row">
                        <span class="title">Úmida:</span>
                        <span class="dado">{{ demandas.umida | kwh }}</span>
                    </div>
                    <div class="row">
                        <span class="title">Seca:</span>
                        <span class="dado">{{ demandas.seca | kwh }}</span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}