{% extends "/users/users.html" %}

{% block selected %}add{% endblock %}

{% block task %}
    <form action="/users/add" method="post">
        <div class="row g-3 align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Username:</label>
            </div>
            <div class="col-auto">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
        </div>
        <div class="row g-3 align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Password:</label>
            </div>
            <div class="col-auto">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
        </div>
        <div class="row g-3 align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Confirmation:</label>
            </div>
            <div class="col-auto">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation" type="password">
            </div>
        </div>
        <div class="row g-3 align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Access level:</label>
            </div>
            <div class="col-auto">
                <select name="access_level" class="form-control mx-auto w-auto" >
                    <option disable selected>Access</option>
                    {% for option in ACCESS_LEVEL %}
                        {% if option != 1 %}
                            <option value="{{option}}" >{{ACCESS_LEVEL[option]}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}