{% extends "/users/users.html" %}

{% block selected %}edit{% endblock %}

{% block task %}
    <h1>Editing: {{ user["username"] }}</h1>
    <form action={{"/users/edit/" + user["id"]|string }} method="post">
        <div class="row g-3 align-items-center d-flex justify-content-center mb-3">
            <div class="col-auto">
                <label for="fieldName" class="col-form-label">Access level:</label>
            </div>
            <div class="col-auto">
                <select name="access_level" id="access_level" class="form-control mx-auto w-auto">
                    <!-- <option disable selected id="selection_begin">Access</option> -->
                    {% for option in ACCESS_LEVEL %}
                        {% if option != 1 and option != user['access_level'] %}
                            <option value="{{option}}" id="{{option}}" >{{ACCESS_LEVEL[option]}}</option>
                        {% elif option == user['access_level'] %}
                            <option selected value="{{option}}" id="{{option}}" >{{ACCESS_LEVEL[option]}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    
    
{% endblock %}