{% extends "/users/users.html" %}

{% block selected %}list{% endblock %}

{% block task %}
    <div class="container">
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Nivel de Acesso</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user["username"] }}</td>
                        <td>{{ user["access_level"] }}</td>
                        <td>
                            <button>
                                <a href={{ "/users/edit/"+ user["id"]|string }}>EDIT</a>
                            </button>
                        </td>
                        <td>
                            <button>
                                <a href={{ "/users/delete/"+ user["id"]|string }}>DEL</a>
                            </button>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}