{% extends "/users/users.html" %}

{% block selected %}add{% endblock %}

{% block task %}
    <form action="/users/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Repeat password" type="password">
        </div>
        <div class="mb-3">
            <select name="access_level" class="form-control mx-auto w-auto" >
                <option disable selected>Access</option>
                {% for option in access %}
                    <option value="{{option}}" >{{access[option]}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}