{% extends "layout.html" %}

{% block title %}
    Geradores
{% endblock %}

{% block mother %}gerador{% endblock %}

{% block main %}
    <ul class="nav nav-tabs mb-3">
        {% if session["main"]["access_level"] < 4 %}
            <li class="nav-item">
            <a class="nav-link" id="add" aria-current="page" href="/gerador/add">Adicionar</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" id="edit" href="/gerador/edit">Editar</a>
            </li>
        {% endif %}

        <li class="nav-item">
        <a class="nav-link" id="list" href="/gerador/list">Listar</a>
        </li>
        
    </ul>
    
    <div id="suboption" style="display: none;">{% block selected %}{% endblock %}</div>

    <script type="text/javascript">
        let suboption = document.getElementById("suboption").innerHTML
        document.getElementById(suboption).classList.add("active")
    </script>

    {% block task %}{% endblock %}
{% endblock %}