<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon.ico')}}">
    <title>Luxium</title>

<!--SEO(search engine otimization)-->
    <meta name="description" content="" ><!--Descrição para o site-->
    <meta name="author" content="Esdras Cavalcanti" ><!--Autor do site-->

<!--style-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/5f5376da5d.js" crossorigin="anonymous"></script>
    {% assets "sass_all" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
    <main class="body">
        {% block main %}{% endblock %}
    </main>
</body>
</html>